body {
    background-color: #03045e;
    margin: 0;
}

.barra{
    background-color: #b8fb3c; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: relative; /* 👈 clave */
}

/* Logo izquierda */
.logo {
    height: 60px;
}

/* Centro (título centrado REAL) */
.centro{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Menú derecha */
.menu{
    display: flex;
    gap: 10px;
}

/* Botones */
.btn{
    background: #b8fb3c;
    color:black;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
}

.btn:hover{
    box-shadow: 0 0 20px #5a1e69;
    background-color: #03045e;
    color: white;
}

.form{
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input{
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
}

.metodos{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.metodos button{
  padding: 10px;
  border-radius: 10px;
  background: #b8fb3c;
}